<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ni.cai.pang.mapper.ComboMapper">
    
    <resultMap id="BaseResult" type="ni.cai.pang.entity.Combo">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="restaurantId" column="restaurant_id"></result>
        <result property="price" column="price"></result>
        <result property="desc" column="desc"></result>
    </resultMap>
    <resultMap id="ComboWithFood" type="ni.cai.pang.entity.Combo" extends="BaseResult">
        <collection property="foods" ofType="ni.cai.pang.entity.Food" select="getFoodsByComboId" column="{combo_id=id}"></collection>
    </resultMap>


    <select id="getFoodsByComboId" resultMap="ni.cai.pang.mapper.FoodMapper.BaseResult">
        SELECT tf.*
        FROM t_combo_detail tcd
        LEFT JOIN t_food tf ON tcd.food_id = tf.id
        WHERE tcd.combo_id = #{combo_id}
    </select>
    
</mapper>